API_VERSION=vx
NODE_ENV=type can be production | development
PORT=xxxx
APP_URL=backend url
FRONTEND_URL=frontend url
DATABASE_URL=pooler URI 
DIRECT_URL=nob pooler URI


JWT_ACCESS_SECRET="your-super-secret-access-key"
JWT_REFRESH_SECRET="your-super-secret-refresh-key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
BCRYPT_SALT_ROUNDS = 10
JWT_EXPIRES_IN=7d
LOG_LEVEL=info


MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=johndoe@gmail.com
MAIL_PASSWORD=xxxx xxxx xxxx xxxx
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=johndoe@gmail.com
CLIENT_URL=http://localhost:3000

STORAGE_PROVIDER=local   #this following value shows the resume upload path this could be local || s3 || cloudinary 
CLOUDINARY_CLOUD_NAME= cloud name
CLOUDINARY_API_KEY = API_KEY
CLOUDINARY_API_SECRET = xxxx xxxx xxxx xxxx xxxx xxxx 
AWS_S3_BUCKET= bucket url
AWS_REGION= location
AWS_ACCESS_KEY_ID= xxx xxx xxx xxx xxx 
AWS_SECRET_ACCESS_KEY= xxxx xxxx xxxx xxxx 

